.decorative {
    width:100%;
    height:450px;
    background-color:#fff858;
    top:200px;
    left:0px;
    position:absolute;
    z-index: -1;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }
    .buttons-container {
        display: flex;
    }

    button {
        padding: 7px 25px;
        border: unset;
        border-radius: 10px;
        color: #212121;
        z-index: 1;
        background: #e8e8e8;
        position: relative;
        font-weight: 500;
        font-size: 15px;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms;
        overflow: hidden;
        width: 250px;
       }
       
       button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 10px;
        background-color: #212121;
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
       }
       
       button:hover {
        color: #e8e8e8;
        cursor: pointer;
       }
       
       button:hover::before {
        width: 100%;
       }

       .textInputWrapper {
        position: relative;
        width: 450px;
        margin: 7.5px 5px;
        --accent-color: #fff858;
      }
      
      .textInputWrapper:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }
      
      .textInputWrapper:before,
      .textInputWrapper:after {
        content: "";
        left: 0;
        right: 0;
        position: absolute;
        pointer-events: none;
        bottom: -1px;
        z-index: 4;
        width: 100%;
      }
      
      .textInputWrapper:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
      }
      
      .textInputWrapper:before {
        transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      }
      
      .textInputWrapper:focus-within:before {
        border-bottom: 1px solid var(--accent-color);
        transform: scaleX(1);
      }
      
      .textInputWrapper:focus-within:after {
        border-bottom: 2px solid var(--accent-color);
        transform: scaleX(1);
      }
      
      .textInputWrapper:after {
        content: "";
        transform: scaleX(0);
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        will-change: transform;
        border-bottom: 2px solid var(--accent-color);
        border-bottom-color: var(--accent-color);
      }
      
      .textInput::placeholder {
        transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        opacity: 1;
        user-select: none;
        color: rgba(255, 255, 255, 0.582);
      }
      
      .textInputWrapper .textInput {
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 2px 5px rgb(35 35 35 / 30%);
        max-height: 36px;
        background-color: #252525;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 200ms;
        transition-property: background-color;
        color: #e8e8e8;
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        width: 100%;
        border-left: none;
        border-bottom: none;
        border-right: none;
      }
      
      .textInputWrapper .textInput:focus,
      .textInputWrapper .textInput:active {
        outline: none;
      }
      
      .textInputWrapper:focus-within .textInput,
      .textInputWrapper .textInput:focus,
      .textInputWrapper .textInput:active {
        background-color: #353535;
      }
      
      .textInputWrapper:focus-within .textInput::placeholder {
        opacity: 0;
      }

      .nombre-carro {
        text-align:left;
    vertical-align:text-top;
    font-size:35px;
    font-family:Geometr212 BkCn BT;
    line-height: auto;
    color:#000000;
    }
    
    .reservation-code {
        text-align:left;
    vertical-align:text-top;
    font-size:35px;
    font-family:Geometr212 BkCn BT;
    line-height: auto;
    color:#000000;
    }

    .information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: 300px;
    }
    
    .extra-information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .car-image {
        height: 300px;
        width: 550px;
        border-radius: 50px;
    }