

<div class="general-container">
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>

<!-- {{cars | json}}

<div *ngFor="let car of cars">
    <div>{{car.id}}</div>
</div> -->


    <!-- <select [(ngModel)]="carId" (ngModelChange)="findCarById()">
        <option value=0 selected>Car</option>
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4>4</option>
     </select>

     
<div *ngIf="carId!= 0">
    <div>{{car.id}}</div>
    <div>{{car.price_per_day}}</div>
</div> -->
     

<!-- <div>
    <select [(ngModel)]="classId" (ngModelChange)="findCarsByClass()" class="class-selector">
        <option value=0 selected>Class</option>
        <option value=1>Premium</option>
        <option value=2>Standard</option>
        <option value=3>Compact</option>
     </select>
    
     <div *ngIf="classId!= 0">
        
     </div>
    
</div> -->


<!-- <select [(ngModel)]="modelId" (ngModelChange)="findCarsByModel()" class="model-selector">
    <option value=0 selected>Model</option>
    <option value=1>BMW</option>
    <option value=2>Ford</option>
    <option value=3>Audi</option>
    <option value=4>Nissan</option>
    <option value=5>Seat</option>
    <option value=6>Toyota</option>
 </select> -->

 <!-- <div>{{model.id}}</div>
 <div>{{model.model}}</div> -->

 <!-- <div class="textInputWrapper">
    <input [(ngModel)]="dateFrom" min='2022-08-09' placeholder="From" class="textInput" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
</div>
<div class="textInputWrapper">
    <input [(ngModel)]="dateTo" max='2022-12-31' placeholder="To" class="textInput" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">
</div> -->

<!-- <input class="min-price-selector" [(ngModel)]="priceFrom" min=400 class="min-price-selector" type="number" name="" id="" placeholder="Min price" (ngModelChange)="findCarsByPrice()">
<input class="max-price-selector" [(ngModel)]="priceTo" max=5000 class="max-price-selector" type="number" name="" id="" placeholder="Max price" (ngModelChange)="findCarsByPrice()">



 <button (click)="getCars()">Cars</button>

 <form (ngSubmit)="addUser()">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre"
        [(ngModel)]="username" required>
    </div>
    <button class="btn btn-outline-success btn-block" >Ingresar</button>

    <div *ngIf="userSelected != ''">Bienvenid@ {{ this.userSelected }}</div>

</form> -->